@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #18181b; /* Dark background layer for darkest spots, use it to contrast data points for easy visibilty */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

/* For the charp angular cut */
.clip-header {
  clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
}